@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
img {
    position: absolute;
    left: 37.5%;
    top: 20px;
    width: 110px;
}
#upper {
    position: absolute;
    left: 48%;
    top: 40px;
}
.line {
    border-bottom: 1px solid black;
    position: absolute;
    top: 11.5%;
    right: 37%;
    width: 17%;
}
#under {
    position: absolute;
    left: 46%;
    top: 70px;
    font-size: 12px;
    letter-spacing: -1px;
}
.acad {
   position: absolute;
   top: 22%;
   left: 36.5%;
   font-size: 18px;
}
.container {
  border: 1px solid black;
  height: 350px;
  width: 450px;
  position: relative;
  left: 34%;
  top: 200px;
  background-color: #d6d6c2;
}
h2 {
  position: absolute;
  left: 22%;
  top: -12%;
  border: 1px solid black;
  padding: 10px 10px;
  background-color: white;
  text-decoration: underline;
  font-family: gothic century;
}
p{
  position: absolute;
  left: 9%;
  top: 20%;
  font-size: 20px;
}
input {
  border: 1px solid black;
  height: 30px;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 42%;
  font-size: 15px;
  text-align: center;
}
button {
  background-color: #008000;
  color: white;
  padding: 8px 20px;
  margin: 8px 0;
  border: 1px solid black;
  cursor: pointer;
  width: 35%;
  position: absolute;
  bottom: 10%;
  right: 7.5%;
}
button:hover {
	opacity: 0.8;
}
